{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>Les 5 burgers les plus chers :</h1>

    {% if burgers is not empty %}
        <ul>
            {% for burger in burgers %}
                <li>
                    <strong>{{ burger.name }}</strong> - {{ burger.price }} €
                    <br>
                    {{ burger.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun burger ne contient cet ingrédient.</p>
    {% endif %}
{% endblock %}