{% include "partials/base.html.twig" %}


{% block content %}
    <h1>Détails du {{ burger.name }}:</h1>
    {% if burger is defined %}
        <p>identifiant du burger : {{ burger.id }}</p>
        <p>Prix : {{ burger.price }} €</p>
        <p>Description : {{ burger.description }}</p>
    {% else %}
        <p>Burger non trouvé.</p>
    {% endif %}
{% endblock %}

{% include "partials/_footer.html.twig" %}
