{% include "partials/base.html.twig" %}


{% block content %}
    <h1>Liste des burgers :</h1>
	{%if burgers is defined and burgers|length > 0 %}
		<ul>
			{% for burger in burgers %}
				<li>{{ burger.name }}
					-
					{{ burger.price }}
					€</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucun burger disponible.</p>
	{% endif %}
{% endblock %}

{% include "partials/_footer.html.twig" %}