{% include "partials/base.html.twig" %}

{% block content %}
    <h1>Bienvenue sur le CRUD Croustillant !</h1>
    <img src="{{ asset('images/hmmmm.jpg') }}" alt="Burger" style="min-width: 1000; max-height:780px; width:100%">
{% endblock %}

{% include "partials/_footer.html.twig" %}