{% extends 'partials/base.html.twig' %}

{% block content %}
<h1>Liste des sauces</h1>

{% if sauces is not empty %}
    <ul>
    {% for sauce in sauces %}
        <li>
            {{ sauce.name }}
            <a class="btn btn-avec" href="/burgers/sauces/{{ sauce.name }}">Avec</a>
            <a class="btn btn-sans" href="/burgers/without/sauces/{{ sauce.name }}">Sans</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucune sauce disponible.</p>
{% endif %}
{% endblock %}
