{% extends 'partials/base.html.twig' %}

{% block content %}
<h1>Liste des oignons</h1>

{% if oignons is not empty %}
    <ul>
    {% for oignon in oignons %}
        <li>
            {{ oignon.name }}
            <a class="btn btn-avec" href="/burgers/oignons/{{ oignon.name }}">Avec</a>
            <a class="btn btn-sans" href="/burgers/without/oignons/{{ oignon.name }}">Sans</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun oignon disponible.</p>
{% endif %}
{% endblock %}
